<div ngbDropdown class="d-inline-block">
  <button class="btn btn-outline-primary" ngbDropdownToggle>
    {{ buttonText }}
  </button>
  <div ngbDropdownMenu>
    <button *ngFor="let item of options | keyvalue" ngbDropdownItem
      (click)="optionChange(item.value.label)">{{item.value.label}}</button>
  </div>
</div>
<form class="ml-1 form-inline">
  <ng-container *ngFor="let item of options | keyvalue">
    <div class="form-group" *ngIf="show[item.key]">
      <label>Enter {{context}} less than </label> &nbsp;
      <input type="{{item.value.type}}" class="form-control" placeholder="{{item.value.placeholder}}" [(ngModel)]="value"
        [ngModelOptions]="{standalone: true}" (blur)="input.emit({context: buttonText, data: value})" />
    </div>
  </ng-container>
</form>
