<content class="text-left">
  <h4>Set Rule Properties</h4>

  <!-- <h5>Rental Properties</h5>
  <dl>
    <dt>Amount (Dollars)</dt>
    <dd>
      <app-dropdown [button-text]="ruleCriteria.amount" [value]="amount?.length ? amount[1] : amount"
        context="amount" (get-input)="setValue($event, 'amount')"></app-dropdown>
    </dd>
    <dt>Tenure (Months)</dt>
    <dd>
      <app-dropdown [button-text]="ruleCriteria.tenure" [value]="tenure?.length ? tenure[1] : tenure"
      context="tenure" (get-input)="setValue($event, 'tenure')"></app-dropdown>
    </dd>
    <dt>Product (Single)</dt>
    <dd><input type="text" class="form-control" [(ngModel)]="product" /></dd>
  </dl>

  <h5>Customer Properties</h5>
  <dl>
    <dt>Age (Years)</dt>
    <dd>
      <app-dropdown [button-text]="ruleCriteria.age" [value]="age?.length ? age[1] : age"
      context="age" (get-input)="setValue($event, 'age')"></app-dropdown>
    </dd>
    <dt>Pincode (Single)</dt>
    <dd><input type="number" size="6" class="form-control" [(ngModel)]="pincode" /></dd>
  </dl> -->
  <ng-container *ngFor="let property of properties | keyvalue">
    <h5>{{property.key}} Properties</h5>
    <dl>
      <ng-container *ngFor="let item of property.value | keyvalue">
        <dt>{{item.value.label}}</dt>
        <dd>
          <app-dropdown *ngIf="item.value.field == 'dropdown'" [button-text]="ruleCriteria[item.key]"
            [value]="props[item.key]?.length ? props[item.key][1] : props[item.key]" [context]="item.key"
            (get-input)="setValue($event, item.key)"></app-dropdown>
          <input *ngIf="item.value.field == 'input'" type="{{item.value.type}}" class="form-control"
            [(ngModel)]="props[item.key]" />
        </dd>
      </ng-container>
    </dl>
  </ng-container>

  <div class="btn-group btn-group-justified" style="display: flex;">
    <button class="btn btn-success" (click)="createRule()"
      [disabled]="!props.amount && !props.tenure && !props.product && !props.age && !props.pincode">Upsert
      Rule</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</content>
